
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в онлайн библиотеку Учебного учереждения</h1>
    <p>Здесь можно найти множество различных материалов и книг для обучения</p>
    
</div>
